/* This is a td element */
body {
    font-family:'Times New Roman', Times, serif;
}

.grid-cell {
    padding: 15px;
    text-align: center;
    border: 2px solid black;
}

.grid-cell-played {
    border: 2px solid white;
    color: white;
    background-color: black;
    font-weight: bold;
}

/* .grid-cell-button {
    border: none;
    background-color: transparent;
} */