body {
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-content h1 {
    text-align: center;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
}

.grid-row {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.grid-cell {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30px;
    min-width: 10px;
    min-height: 10px;
    padding: 10px;
    border: 2px solid black;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}


.grid-cell-played {
    border: 2px solid white;
    color: white;
    background-color: black;
    font-weight: bold;
}

#player-zone {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}