body {
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-content h1 {
    text-align: center;
}

#gameboard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
}

.grid-row {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.grid-cell,
.grid-cell-clickable {
    flex-grow: 0;
    /* flex-shrink: 1; */
    flex-basis: 35px;
    min-width: 10px;
    min-height: 10px;
    padding: 10px;
    border: 2px solid black;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.grid-cell-clickable {
    cursor: pointer;
}

.grid-cell-played {
    border: 2px solid white;
    color: white;
    background-color: black;
    font-weight: bold;
}

#marketplace {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    max-width: 400px;
    flex-grow: 1;
}

.hotel-tier {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-grow: 1;
}

#standard-hotels {
    min-width: 320px;
}

.marketplace-share-div {
    border: 1px solid black;
    aspect-ratio: 2.5 / 3.5;
    flex-basis: 100px;
    min-width: 45px;
    min-height: 63px;
}

#player-zone-collection {
    display:flex;
    flex-direction: column;
}

.player-zones,
.player-zones-active {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    gap: 10px;
}

.tile-tray,
.share-collection {
    border: 2px solid black;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.tile-tray {
    max-width: 400px;
    flex-shrink: 5;
}

.share-collection {
    flex-shrink: 1;
}

.player-zones-active {
    background-color: lightyellow;
}

#tile-tray-div {
    display: flex;
    flex-direction: column;
}
